.ProjectCard {
  background: var(--color-light);
}

.ProjectCard__Projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
}

.ProjectCard__Project {
  background: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.ProjectCard__Screenshot {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0px 0px
}

.ProjectCard__Content {
  padding: 20px 20px;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ProjectCard__Title {
  font-weight: bold;
  font-size: 1.25rem;
}

.ProjectCard__Description {
  margin: 5px 0 15px;
}

.ProjectCard__SkillsUsed {
  margin-bottom: 35px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.ProjectCard__SkillsUsed, .ProjectCard__SkillsUsed > * {
  font-size: 14px;
  color: var(--color-disabled-darker);
}

.ProjectCard__Buttons {
  display: flex;
  justify-content: center;
  margin-top: auto;
  > :first-child {
    margin-right: 15px;
  }
}