.IntroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px 90px;
  max-width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    max-width: 768px;
  }

  @media screen and (min-width: 992px) {
    max-width: 992px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.IntroSection__Headline {
  text-align: center;
  max-width: 315px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 0px;
  }
}

.IntroSection__Subtitle {
  font-size: 18px;
  margin-bottom: 25px;
}

.IntroSection__Avatar {
  width: 335px;
  height: 198px;
  animation: fadeIn 0.5s ease-in-out;

  @media screen and (min-width: 992px) {
    width: 534px;
    height: 315px;
  }
}

.IntroSection__Buttons {
  > :first-child {
    margin-right: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}