.ProjectsSection {
  background: var(--color-grey);
}

.ProjectsSection__Projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
  
}

.ProjectsSection__Project {
  background: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ProjectsSection__Content {
  padding: 0 20px 20px;
  text-align: left;
}

.ProjectsSection__Title {
  font-weight: bold;
  font-size: 1.25rem;
}

.ProjectsSection__Buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  > :first-child {
    margin-right: 15px;
  }
}