:root {
  --color-primary: hsl(208, 100%, 69%);
  --color-primary-darker: hsl(208, 73%, 51%);
  --color-light: #FFFFFF;
  --color-dark: #273043;
  --color-grey: #F9F9F9;

  --base-font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--base-font-size);
  line-height: 1.42857em;
}

html, body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-dark);
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  font-weight: bold;
}

h1 { 
  font-size: 2.5rem;
  @media screen and (min-width: 992px) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2rem;
  @media screen and (min-width: 992px) {
    font-size: 2.5rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.App section, nav {
  margin: 0 auto;
}