:root {
  --color-darkMode-lighter: #CEE7FE;
  --color-darkMode-light: #6D93B3;
  --color-darkMode: #0B2038;
  --color-darkMode-dark: #001426;
  --color-darkMode-darker: #000B14;
  
  --color-primary-lighter: #CEE7FE;
  --color-primary-light: #82C4FE;
  --color-primary: #4FACFE;
  --color-primary-dark: #1986E6;
  --color-primary-darker: #1267B3;
  
  --color-white: #FFFFFF;
  --color-grey-light: #F9F9F9;
  --color-grey: #DCDCDC;
  --color-grey-dark: #A7A7A7;
  --color-grey-darker: #6B6B6B;

  --color-background: var(--color-white);
  --color-background-dark: var(--color-grey-light);
  --color-background-footer: var(--color-primary);
  --color-text: var(--color-darkMode);
  --color-text-footer: var(--color-white);
  --color-text-secondary: var(--color-grey-dark);
  --color-text-disabled: var(--color-grey-light);
  --color-hover: var(--color-primary-light);
  --color-active: var(--color-primary-dark);
  --color-disabled: var(--color-grey);

  --base-font-size: 16px;
}

[data-theme="dark"] {
  --color-background: var(--color-darkMode);
  --color-background-dark: var(--color-darkMode-dark);
  --color-background-footer: var(--color-darkMode-darker);
  --color-text: var(--color-primary-lighter);
  --color-text-footer: var(--color-primary-lighter);
  --color-text-secondary: var(--color-darkMode-light);
  --color-text-disabled: var(--color-darkMode-light);
  --color-hover: var(--color-primary-light);
  --color-active: var(--color-primary-dark);
  --color-disabled: var(--color-darkMode-dark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--base-font-size);
  line-height: 1.42857em;
  transition: background 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

html, body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-text);
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  font-weight: bold;
}

h1 { 
  font-size: 2.5rem;
  @media screen and (min-width: 992px) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2rem;
  @media screen and (min-width: 992px) {
    font-size: 2.5rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.App section, nav {
  margin: 0 auto;
}