:root {
  --color-darkMode-lighter: #cee7fe;
  --color-darkMode-light: #6d93b3;
  --color-darkMode: #0b2038;
  --color-darkMode-dark: #001426;
  --color-darkMode-darker: #000b14;

  --color-primary-lighter: #cee7fe;
  --color-primary-light: #82c4fe;
  --color-primary: #4facfe;
  --color-primary-dark: #1986e6;
  --color-primary-darker: #1267b3;

  --color-white: #ffffff;
  --color-grey-light: #f9f9f9;
  --color-grey: #dcdcdc;
  --color-grey-dark: #a7a7a7;
  --color-grey-darker: #6b6b6b;

  --color-background: var(--color-white);
  --color-background-dark: var(--color-grey-light);
  --color-background-footer: var(--color-primary);
  --color-text: var(--color-darkMode);
  --color-text-footer: var(--color-white);
  --color-text-secondary: var(--color-grey-dark);
  --color-text-disabled: var(--color-grey-light);
  --color-hover: var(--color-primary-light);
  --color-active: var(--color-primary-dark);
  --color-disabled: var(--color-grey);

  --base-font-size: 16px;
}

[data-theme='dark'] {
  --color-background: var(--color-darkMode);
  --color-background-dark: var(--color-darkMode-dark);
  --color-background-footer: var(--color-darkMode-darker);
  --color-text: var(--color-primary-lighter);
  --color-text-footer: var(--color-primary-lighter);
  --color-text-secondary: var(--color-darkMode-light);
  --color-text-disabled: var(--color-darkMode-light);
  --color-hover: var(--color-primary-light);
  --color-active: var(--color-primary-dark);
  --color-disabled: var(--color-darkMode-dark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--base-font-size);
  line-height: 1.42857em;
  transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

html,
body {
  font-family: 'CircularStd', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-text);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  @media screen and (min-width: 992px) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2rem;
  @media screen and (min-width: 992px) {
    font-size: 2.5rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.App section,
nav {
  margin: 0 auto;
}
