.Button {
  min-width: 125px;
  border-radius: 20px;
  padding: 8px 20px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  
  a {
    display: block;
  }
}

.Button--hollow {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  &:hover {
    color:  var(--color-white);
    border: 1px solid var(--color-hover);
    background: var(--color-hover);
  }
  &:active, &:focus {
    color:  var(--color-white);           
    border: 1px solid var(--color-active);
    background: var(--color-active);
  } 
}

.Button--fill {
  background: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  &:hover { 
    border: 1px solid var(--color-hover);
    background: var(--color-hover);
  }
  &:active, &:focus {
    border: 1px solid var(--color-active);
    background: var(--color-active);
  } 
}

.Button--disabled {
  color: var(--color-text-disabled);
  border: 1px solid var(--color-disabled);
  pointer-events: none;
}

.Button--disabled--fill {
  background: var(--color-disabled);
}

