.Button {
  min-width: 112px;
  border-radius: 20px;
  padding: 8px 20px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  
  a {
    display: block;
  }
}

.Button--hollow {
  background: var(--color-light);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  &:hover {
    color:  var(--color-light);
    border: 1px solid var(--color-primary-darker);
    background: var(--color-primary-darker);
  }
}

.Button--fill {
  background: var(--color-primary);
  color: var(--color-light);
  border: 1px solid var(--color-primary);
  &:hover { 
    color: var(--color-light);
    border: 1px solid var(--color-primary-darker);
    background: var(--color-primary-darker);
  }
}

.Button--disabled {
  color: var(--color-grey-darker);
  border: 1px solid var(--color-grey-disabled);
  pointer-events: none;
}

.Button--disabled--fill {
  background: var(--color-grey-disabled);
}

